.detailsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}.col {
    max-width: 400px;
    height: auto;
    width:80%;
    height: 80%;
    margin: 15px;
}

.movieImage {
    border-radius: 15px;
}

.movieDetails{
    font-size: 1.5rem;
}
.movieButton {
    position: relative;
    z-index: 99;
    background: rgba(255, 255, 255, .3);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s;
}
.fistItem{
    margin: top 0;
}